@import 'styles/variables';
@import 'styles/mixins';

$offset-horizontal-confirmation: calc(var(--offset-element-content) * 2);

.button {
  padding: var(--offset-element-content);

  color: inherit;
  font-size: var(--font-size);
  // Clear default button styles
  background: transparent;
  border: none;
  outline: inherit;
  cursor: pointer;

  @include roundedCorners;

  &.navigation {
    color: var(--color-navigation-text);
    text-transform: uppercase;

    border: var(--border-size) solid var(--color-element-border);
  }

  &.menu {
    color: var(--color-navigation-text);
    text-transform: uppercase;

    border: none;
  }
}

.withOffset {
  margin-bottom: var(--offset-between-elements);
}
