/**********************************************************/
/*********************** Colors ***************************/
/**********************************************************/

// Background colors
$color-section-background: #090A1D;
$color-element-background: linear-gradient(87.1deg, #6E3ED2 0%, #9E8FFB 100%);
$color-label-background: #AAAAAA;
$color-element-hover-background: #EBEBEB;

// Typography colors
$color-element-text: #FFFFFF;
$color-plain-text: #FFFFFF;
$color-title-text: #FFFFFF;
$color-navigation-text: #FFFFFF;
$color-label-text: #FFFFFF;

// Element decoration colors
$color-underline: #00B3BE;
$color-element-border: #F6F6F6;
$color-title-text-highliter: #6E3ED2;

.dark {
  // Background colors
  --color-section-background: #{$color-section-background};
  --color-element-background: #{$color-element-background};
  --color-element-hover-background: #{$color-element-hover-background};
  --color-label-background: #{$color-label-background};

  // Typography colors
  --color-element-text: #{$color-element-text};
  --color-plain-text: #{$color-plain-text};
  --color-title-text: #{$color-title-text};
  --color-navigation-text: #{$color-navigation-text};
  --color-label-text: #{$color-label-text};

  // Element decoration colors
  --color-underline: #{$color-underline};
  --color-element-border: #{$color-element-border};
  --color-title-text-highliter: #{$color-title-text-highliter};
}
