@import 'styles/variables';

/**********************************************************/
/********************** Typography ************************/
/**********************************************************/

// TODO: fix import issue and remove redundant imports
@mixin basicFont {
  font-family: $font-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  margin: 0;
}

/**********************************************************/
/***************** Elements Decoration ********************/
/**********************************************************/

@mixin roundedCorners {
  border-radius: var(--border-radius);
}

/**********************************************************/
/******************** Media Queries ***********************/
/**********************************************************/

// Small devices
@mixin mobile {
  @media (min-width: #{$screen-mobile-width}) {
    @content;
  }
}

// Large devices
@mixin tablet {
  @media (min-width: #{$screen-tablet-width}) {
    @content;
  }
}

// Extra large devices
@mixin desktop {
  @media (min-width: #{$screen-desktop-width}) {
    @content;
  }
}
