@import 'styles/variables';
@import 'styles/mixins';

.pageTitle {
  @include basicFont;

  color: var(--color-title-text);
  font-family: $font-titles;

  text-transform: capitalize;
}

.highlighted {
  color: var(--color-title-text-highliter);
}

.subTitle {
  @include basicFont;

  color: var(--color-title-text);
  font-size: $font-size-subtitle;

  font-family: $font-titles;
  line-height: $line-height-subtitle;
}

.sectionTitle {
  @include basicFont;

  color: var(--color-title-text);
  font-size: $font-size-sectionTitle;

  font-family: $font-titles;
}

.plainText {
  @include basicFont;

  color: var(--color-plain-text);

  font-size: $font-size-plainText;
  line-height: $line-height-plainText;
}

.label {
  @include roundedCorners;

  display: inline-block;
  padding: calc(var(--offset-element-content) / 2);

  color: var(--color-label-text);

  background-color: var(--color-label-background);
}

// PROPS

.withOffset {
  margin-bottom: var(--offset-between-elements);
}
