@import 'styles/variables';
@import 'styles/mixins';

$offset-header-vertical: calc(var(--offset-section) / 2);
$offset-header-horizontal: calc((100% - var(--width-container-content-max)) / 2);

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-navigation;

  display: flex;

  width: 100%;
  height: var(--height-header);

  padding: $offset-header-vertical var(--offset-section);

  background-color: var(--color-section-background);

  @include desktop {
    padding: $offset-header-vertical $offset-header-horizontal;
  }
}
